div[class~="testColor"] {
    background-color: bisque;
}

* {
    box-sizing: border-box;
}

/* menu */

#menu li {
    display: inline-block;
    margin: 10px;
    /*color: #000;*/
    color: #755f49;
    text-transform: uppercase;
    font-family: Cambria, Georgia, sans-serif;
    /*background: #fff;*/
    background: #de675f;
    background: rgba(222, 103, 95, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li.active {
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu li.active a:hover {
    color: #000;
}

#menu li:hover {
    background: rgba(222, 103, 95, 0.8);
}

#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display: block;
}

#menu li.active a {
    color: #fff;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}

/*fullpage css settings*/
#fp-nav.left {
    left: 17px;
    background: rgba(255, 255, 240, 0.7);
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #de675f;
    font-size: 40px;
    /*font-family: arial, helvetica, sans-serif;*/
    font-family: 'Pudelinka', sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}

/*header */
.wdLayout-content {
    background-color: ivory;
}

.header {
    text-align: center;
    top: 4%;
    min-height: 20%;
    background: rgba(255, 255, 240, 0.7);
    position: relative;
}

.title-box {
    /*margin-top: -6%;*/
}

.header-title {
    font-family: 'Pudelinka', sans-serif;
    font-size: 4.5vw;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #de675f;
}

.title-message {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8vw;
    text-align: center;
    padding-top: 2%;
}

.border-line {
    border-top: 4px double #de675f;
    margin-top: 2%;
}

.hasCountdown {
    display: inline-block;
    position: relative;
    width: 100%;
}

.timer-block {
    display: inline-block;
    padding-left: 20%;
    padding-top: 1.5%;
}

.day-meta {
    font-family: Cambria, Georgia, sans-serif;
    font-style: italic;
    text-transform: none;
    color: #ec6d65;
    font-weight: normal;
    font-size: 1.3vw;
    margin-top: 1%;
}

.countdown_section {
    display: inline-block font-weight : normal;
    font-size: 12px;
    padding: 0;
    margin: 0 2.5%;
    color: #de675f;
    width: 13%;
    text-align: center;
    float: left;
}

.countdown_amount {
    display: block;
    font-weight: bold;
    font-size: 2.5vw;
    background: none repeat scroll 0 0 #de675f;
    border-radius: 6px;
    font-family: 'Pudelinka', sans-serif;
    font-weight: normal;
    font-style: normal;
    width: 100%;
    height: 100%;
    color: #fff;
    margin-bottom: 10%;
    line-height: 130%;
    position: relative;
}

.countdown_amount:after {
    display: block;
    content: ":";
    position: absolute;
    width: 5px;
    height: 62px;
    line-height: 62px;
    top: 0;
    right: -25%;
    /*left: 14px;*/
    color: #de675f;
}

.seconds:after {
    content: "";
}

.subline {
    font-family: Myriad Pro, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #553736;
}

.head-img-heart {
    font-size: 4em;
}

.date-container {
    border-bottom: none;
    text-align: center;
    padding-bottom: 0;
    padding-right: 1%;
    /*vertical-align: middle;*/
}

.day-date {
    font-weight: normal;
    /*padding-right: 5px;*/
    font-size: 1.3em;
    /*padding: 55px 1% 0 0;*/
    /*margin-top: 0.5%;*/
}

.accent {
    color: #755f49;
    font-family: 'Pudelinka', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.day-year {
    /*font-size: 5em;*/
    padding-top: 3%;
    font-size: 3vw;
}

/*section 2*/

.section-title {
    position: relative;
    color: #de675f;
    display: inline-block;
    font-family: Cambria, Georgia, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2.5vw;
    text-align: center;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 3%;
    /*padding-bottom: 2.6rem;*/
    width: 100%;
    /*border-bottom: 4px double #ec6d65;*/
    /*border-color: #ec6d65 !important;*/

}

.section-title.border-bottom {
    border-bottom: 4px double #ec6d65;
}

.fp-tableCell {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    height: 100%;
}

.header-section {
    margin-bottom: 2%;
    background: rgba(255, 255, 240, 0.7);
    padding-bottom: 1%;
}

.entry-content {
    position: relative;
}

.entry-content.excerpt {
    padding: 1% 1% 1%;
}

.entry-content.excerpt h3 {
    margin-top: 1%;
}

.post-title {
    float: left;
    text-transform: uppercase;
    color: #553736;
    font-size: 1vw;
    font-weight: bold;
    margin-right: 1%;
}

.post-place {
    float: left;
    text-transform: uppercase;
    color: #553736;
    font-size: 1vw;
}

.addr {
    float: left;
    width: 100%;
    color: #de675f;
    margin-bottom: 2%;
    font-family: Cambria, Georgia, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.1em;
}

.clear {
    clear: both;
}

.post {
    background: ivory !important;
    text-align: left;
    margin-bottom: 0.1%;
}

time {
    position: absolute;
    top: 10%;
    right: 1%;
}

.post time {
    font-size: 1.5vw;
    color: #553736;
    font-weight: normal;
}

.post p {
    margin-bottom: 0;
    font-family: Cambria, Georgia, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.4em;
    color: #553736;
}

/*section 3*/
.section-title h1 {
    color: #de675f;
    padding: 1% 0 0.6%;
    margin: 0;
    font-family: Cambria, Georgia, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 2vw;
}

strong, b {
    font-weight: bold;
    line-height: inherit;
}

.subline.contact-title {
    font-size: 1vw !important;
    margin-top: 3%;
}

.subline.contact-title.contact-addr {
    font-weight: normal;
    margin-top: 1%;
}

.ymaps {
    width: 100%;
    height: 400px;
    padding-left: 5%;
    padding-right: 5%;
}

.phone-email {
    padding-top: 3%;
    text-align: center;
    padding-bottom: 2%;
}

.phone-email span {
    text-transform: uppercase;
    color: #553736;
    font-size: 1vw;
    display: inline-block;
    padding: 0 1%;
}

.phone-email span a {
    font-family: Cambria, Georgia, sans-serif;
    font-style: italic;
    text-decoration: underline;
}

a {
    color: #de675f;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

/*footer*/

.footer {
    /*margin-top: 3%;*/
    background-color: #de675f;
    bottom: 0;
    height: 12%;
    overflow: hidden;
    text-align: center;
    /*height: 63px;*/
    font-size: 0.6vw;
    color: #f3b0ac;
    padding: 1% 1% 0;
}

.footer a {
    color: #f3b0ac;
}
